In [1]:
!git clone https://github.com/stonescenter/Notebooks.git

Cloning into 'Notebooks'...
remote: Enumerating objects: 28, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 28 (delta 3), reused 0 (delta 0), pack-reused 18
Unpacking objects: 100% (28/28), done.

In [7]:
%cd Notebooks/
!ls

/content/Notebooks
Sus  Text_Analysis

In [12]:
import pandas as pd

# cargamos os dados filtrados por anos
df19 = pd.read_csv('Sus/data/dados_2019.csv', encoding='unicode_escape', sep=",")
df20 = pd.read_csv('Sus/data/dados_2020.csv', encoding='unicode_escape', sep=",")
df21 = pd.read_csv('Sus/data/dados_2021.csv', encoding='unicode_escape', sep=",")

df21.head(20)

,Unnamed: 0,CNES,CODUFMUN,REGSAUDE,MICR_REG,DISTRSAN,DISTRADM,TPGESTAO,PF_PJ,CPF_CNPJ,...,NIV_HIER,TERCEIRO,TP_LEITO,CODLEITO,QT_EXIST,QT_CONTR,QT_SUS,QT_NSUS,COMPETEN,NAT_JUR
0,1,9331603,520010,NaN,NaN,NaN,NaN,M,3,0,...,NaN,NaN,2,33,9,0,9,0,202101,1244
1,2,2335506,520013,15,NaN,NaN,NaN,M,3,269860000125,...,NaN,NaN,6,34,4,0,3,1,202101,2062
2,3,2335506,520013,15,NaN,NaN,NaN,M,3,269860000125,...,NaN,NaN,1,3,2,0,1,1,202101,2062
3,4,2335506,520013,15,NaN,NaN,NaN,M,3,269860000125,...,NaN,NaN,5,45,3,0,3,0,202101,2062
4,5,2335506,520013,15,NaN,NaN,NaN,M,3,269860000125,...,NaN,NaN,4,43,3,0,3,0,202101,2062
5,6,2335506,520013,15,NaN,NaN,NaN,M,3,269860000125,...,NaN,NaN,2,41,2,0,2,0,202101,2062
6,7,2335506,520013,15,NaN,NaN,NaN,M,3,269860000125,...,NaN,NaN,2,33,6,0,4,2,202101,2062
7,8,2335506,520013,15,NaN,NaN,NaN,M,3,269860000125,...,NaN,NaN,4,10,1,0,1,0,202101,2062
8,9,2437570,520013,15,NaN,NaN,NaN,M,3,0,...,NaN,NaN,2,33,16,0,16,0,202101,1244
9,10,2437570,520013,15,NaN,NaN,NaN,M,3,0,...,NaN,NaN,5,45,5,0,5,0,202101,1244
10,11,2571080,520013,15,NaN,NaN,NaN,M,3,2911462000196,...,NaN,NaN,1,3,4,0,0,4,202101,2305
11,12,2571080,520013,15,NaN,NaN,NaN,M,3,2911462000196,...,NaN,NaN,5,45,6,0,0,6,202101,2305
12,13,2571080,520013,15,NaN,NaN,NaN,M,3,2911462000196,...,NaN,NaN,4,43,4,0,0,4,202101,2305
13,14,2571080,520013,15,NaN,NaN,NaN,M,3,2911462000196,...,NaN,NaN,2,33,12,0,0,12,202101,2305
14,15,2571080,520013,15,NaN,NaN,NaN,M,3,2911462000196,...,NaN,NaN,4,10,4,0,0,4,202101,2305
15,16,2361507,520017,02,NaN,NaN,NaN,M,3,0,...,NaN,NaN,2,33,8,0,8,0,202101,1244
16,17,2361507,520017,02,NaN,NaN,NaN,M,3,0,...,NaN,NaN,5,45,4,0,4,0,202101,1244
17,18,157619,520025,NaN,NaN,NaN,NaN,E,3,0,...,NaN,NaN,2,33,190,0,190,0,202101,1023
18,19,157619,520025,NaN,NaN,NaN,NaN,E,3,0,...,NaN,NaN,3,51,10,0,0,10,202101,1023
19,20,157619,520025,NaN,NaN,NaN,NaN,E,3,0,...,NaN,NaN,3,96,40,0,0,40,202101,1023

In [9]:
df21.describe()

,Unnamed: 0,CNES,CODUFMUN,DISTRSAN,PF_PJ,CPF_CNPJ,NIV_DEP,CNPJ_MAN,ESFERA_A,ATIVIDAD,...,NIV_HIER,TERCEIRO,TP_LEITO,CODLEITO,QT_EXIST,QT_CONTR,QT_SUS,QT_NSUS,COMPETEN,NAT_JUR
count,35793.000000,3.579300e+04,35793.000000,0.0,35793.0,3.579300e+04,35793.000000,3.579300e+04,0.0,35793.000000,...,0.0,0.0,35793.000000,35793.000000,35793.000000,35793.0,35793.000000,35793.000000,35793.000000,35793.000000
mean,17897.000000,3.257390e+06,521013.049339,NaN,3.0,5.405682e+12,1.823513,2.324246e+12,NaN,3.945408,...,NaN,NaN,2.680580,31.870701,7.492471,0.0,4.524209,2.968262,202106.560752,1901.975945
std,10332.693429,2.037461e+06,554.700929,NaN,0.0,1.134789e+13,0.984317,6.891978e+12,NaN,0.322012,...,NaN,NaN,1.615359,24.234722,15.554122,0.0,12.111806,8.635665,3.445478,804.427728
min,1.000000,2.407400e+04,520010.000000,NaN,3.0,0.000000e+00,1.000000,0.000000e+00,NaN,1.000000,...,NaN,NaN,1.000000,1.000000,0.000000,0.0,0.000000,0.000000,202101.000000,1015.000000
25%,8949.000000,2.361477e+06,520760.000000,NaN,3.0,0.000000e+00,1.000000,0.000000e+00,NaN,4.000000,...,NaN,NaN,1.000000,10.000000,2.000000,0.0,0.000000,0.000000,202104.000000,1244.000000
50%,17897.000000,2.506661e+06,520870.000000,NaN,3.0,1.321256e+12,1.000000,0.000000e+00,NaN,4.000000,...,NaN,NaN,2.000000,33.000000,4.000000,0.0,1.000000,1.000000,202107.000000,2062.000000
75%,26845.000000,2.589265e+06,521310.000000,NaN,3.0,2.608131e+12,3.000000,1.740497e+12,NaN,4.000000,...,NaN,NaN,4.000000,45.000000,8.000000,0.0,4.000000,3.000000,202110.000000,2062.000000
max,35793.000000,9.953086e+06,522220.000000,NaN,3.0,8.684038e+13,3.000000,6.097574e+13,NaN,5.000000,...,NaN,NaN,7.000000,96.000000,337.000000,0.0,269.000000,203.000000,202112.000000,3999.000000

In [10]:
cols = ['CNES', 'CODUFMUN', 'REGSAUDE', 
        'MICR_REG', 'TP_LEITO', 'QT_EXIST', 'QT_CONTR',
        'QT_SUS', 'QT_NSUS', 'COMPETEN']

In [13]:
# filtramos a menos colunas
cols_qt_sus = ['CODUFMUN', 'COMPETEN', 'QT_SUS', 'QT_NSUS']
ds19 = df19[cols_qt_sus]
ds20 = df20[cols_qt_sus]
ds21 = df21[cols_qt_sus]
ds21

       CODUFMUN  COMPETEN  QT_SUS  QT_NSUS
0        520010    202101       9        0
1        520013    202101       3        1
2        520013    202101       1        1
3        520013    202101       3        0
4        520013    202101       3        0
...         ...       ...     ...      ...
35788    522205    202112       1        0
35789    522205    202112       3        0
35790    522220    202112       4        0
35791    522220    202112       2        0
35792    522220    202112       7        0

[35793 rows x 4 columns]

In [ ]:
# contamos o numero de municipios em GO, encontramos 193

ds_muni21 = ds21.groupby(['CODUFMUN']).count()
ds_muni21

          COMPETEN  QT_SUS  QT_NSUS
CODUFMUN
520010          12      12       12
520013         168     168      168
520017          16      16       16
520025         122     122      122
520030          72      72       72
...            ...     ...      ...
522170         152     152      152
522185         236     236      236
522200          96      96       96
522205          72      72       72
522220          36      36       36

[193 rows x 3 columns]

In [ ]:
ds_muni20 = ds20.groupby(['CODUFMUN']).count()
ds_muni20

          COMPETEN  QT_SUS  QT_NSUS
CODUFMUN
520010          12      12       12
520013         168     168      168
520017          24      24       24
520025          95      95       95
520030          72      72       72
...            ...     ...      ...
522170          67      67       67
522185         209     209      209
522200          96      96       96
522205          72      72       72
522220          36      36       36

[189 rows x 3 columns]

In [ ]:
# Agrupamos por municipio e data de competencia por mes. Com esses grupos sumamos a quantidade de leitos SUS e não SUS 
qsus19 = ds19.groupby(['CODUFMUN', 'COMPETEN'])['QT_SUS', 'QT_NSUS'].sum().reset_index(['CODUFMUN'])
qsus21 = ds21.groupby(['CODUFMUN', 'COMPETEN'])['QT_SUS', 'QT_NSUS'].sum().reset_index(['CODUFMUN'])
qsus20 = ds20.groupby(['CODUFMUN', 'COMPETEN'])['QT_SUS', 'QT_NSUS'].sum().reset_index(['CODUFMUN'])

qsus21.head(100)

<ipython-input-9-13f2ce7cdcc5>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  qsus19 = ds19.groupby(['CODUFMUN', 'COMPETEN'])['QT_SUS', 'QT_NSUS'].sum().reset_index(['CODUFMUN'])
<ipython-input-9-13f2ce7cdcc5>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  qsus21 = ds21.groupby(['CODUFMUN', 'COMPETEN'])['QT_SUS', 'QT_NSUS'].sum().reset_index(['CODUFMUN'])
<ipython-input-9-13f2ce7cdcc5>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  qsus20 = ds20.groupby(['CODUFMUN', 'COMPETEN'])['QT_SUS', 'QT_NSUS'].sum().reset_index(['CODUFMUN'])

          CODUFMUN  QT_SUS  QT_NSUS
COMPETEN
202101      520010       9        0
202102      520010       9        0
202103      520010       9        0
202104      520010       9        0
202105      520010       9        0
...            ...     ...      ...
202102      520080      32        0
202103      520080      32        0
202104      520080      32        0
202105      520080      32        0
202106      520080      32        0

[100 rows x 3 columns]

In [ ]:
# Escolhemos um municipio para ver a quantidade de leitos que teve durante cada mes
qsus21[qsus21['CODUFMUN'] == 520025 ]

          CODUFMUN  QT_SUS  QT_NSUS
COMPETEN
202101      520025     233       51
202102      520025     234       51
202103      520025     233       51
202104      520025      44       34
202105      520025      44       34
202106      520025      44       34
202107      520025      44       34
202108      520025      59       19
202109      520025      59       19
202110      520025      59       19
202111      520025      59       19
202112      520025      59       19

In [ ]:
qsus20[qsus20['CODUFMUN'] == 520025 ]

          CODUFMUN  QT_SUS  QT_NSUS
COMPETEN
202001      520025      40        1
202002      520025      40        1
202003      520025      40        1
202004      520025      40        1
202005      520025     230       11
202006      520025     230       11
202007      520025     230       33
202008      520025     230       41
202009      520025     252       29
202010      520025     230       51
202011      520025      43        1
202012      520025     233       51

In [ ]:
s = qsus19[qsus19['CODUFMUN'] == 520025 ]
s

          CODUFMUN  QT_SUS  QT_NSUS
COMPETEN
201901      520025      40        1
201902      520025      40        1
201903      520025      40        1
201904      520025      40        1
201905      520025      40        1
201906      520025      40        1
201907      520025      40        1
201908      520025      40        1
201909      520025      40        1
201910      520025      40        1
201911      520025      40        1
201912      520025      40        1

In [ ]:
#geramos uma lista de codigos de municipios
municipios = qsus19['CODUFMUN'].unique()
municipios

array([520010, 520013, 520017, 520025, 520030, 520050, 520060, 520080,
       520085, 520090, 520110, 520130, 520140, 520150, 520160, 520170,
       520180, 520215, 520235, 520250, 520280, 520320, 520330, 520340,
       520350, 520355, 520380, 520390, 520393, 520400, 520410, 520425,
       520430, 520440, 520450, 520465, 520470, 520480, 520490, 520500,
       520505, 520510, 520520, 520530, 520540, 520545, 520547, 520549,
       520551, 520552, 520570, 520580, 520590, 520620, 520630, 520640,
       520650, 520660, 520670, 520680, 520710, 520725, 520735, 520740,
       520750, 520753, 520760, 520780, 520790, 520800, 520810, 520830,
       520840, 520850, 520860, 520870, 520880, 520890, 520910, 520960,
       520970, 520980, 520990, 520993, 520995, 521000, 521010, 521020,
       521030, 521040, 521060, 521080, 521090, 521100, 521120, 521130,
       521140, 521150, 521160, 521170, 521180, 521190, 521200, 521210,
       521220, 521230, 521250, 521260, 521270, 521280, 521290, 521295,
       521300, 521308, 521310, 521350, 521370, 521375, 521380, 521385,
       521390, 521400, 521405, 521410, 521440, 521450, 521460, 521470,
       521483, 521500, 521520, 521530, 521550, 521560, 521565, 521570,
       521580, 521590, 521600, 521630, 521640, 521680, 521710, 521720,
       521730, 521740, 521760, 521770, 521800, 521805, 521810, 521830,
       521850, 521860, 521880, 521890, 521900, 521910, 521920, 521925,
       521930, 521950, 521960, 521970, 521973, 521975, 521980, 522000,
       522010, 522015, 522020, 522026, 522040, 522045, 522050, 522060,
       522068, 522100, 522130, 522140, 522145, 522150, 522155, 522160,
       522170, 522185, 522200, 522205, 522220])

In [ ]:
# funçoes para gerar o dataset
def get_data(ds):
  municipios = ds['CODUFMUN'].unique()
  leitos = []
  for m in municipios:
    leito = {'municipio' : '', 
          'leitos_sus': [], 
          'leitos_nosus': []
    }

    leito['municipio'] = m

    for r in ds.iterrows():
      compe = str(r[0])
      ano, mes = compe[:4], compe[4:]
      municipio = r[1]['CODUFMUN']
      sus, nosus = r[1]['QT_SUS'], r[1]['QT_NSUS']

      #print(ano, mes, municipio, sus, nosus)
      if str(m) == str(municipio):
        leito['leitos_sus'].append(sus)
        leito['leitos_nosus'].append(nosus)

    size1 = len(leito['leitos_sus'])
    size2 = len(leito['leitos_nosus']) 

    if size1 != 12:
      leito['leitos_sus'].extend([0]*(12-size1))


    if size2 != 12:
      leito['leitos_nosus'].extend([0]*(12-size2))

    leitos.append(leito)

  return leitos

def get_data_by_municipio(lst : list, m: int):
  
  for l in lst:
    if l['municipio'] == m:
      return l

In [ ]:
# construimos nosso dataset por ano
data19 = get_data(qsus19)
data20 = get_data(qsus20)
data21 = get_data(qsus21)

In [ ]:
municipio_list = list(map(itemgetter('municipio'), data19 ))
municipio_list = [str(m) for m in municipio_list]
  
sus_list = list(map(itemgetter('leitos_sus'), data19 ))
nosus_list = list(map(itemgetter('leitos_nosus'), data19 ))

# Nro de leitos SUS por municipio
res = get_data_by_municipio(data19, 520013)
res

{'municipio': 520013,
 'leitos_sus': [38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38],
 'leitos_nosus': [34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34]}

In [ ]:
import plotly.graph_objects as go
import plotly.figure_factory as ff
import numpy as np
from operator import itemgetter

def plot_ds(data, municipio, year):

  # Initialize a figure with ff.create_table(table_data)
  #fig = ff.create_table(table_data, height_constant=60)
  fig = go.Figure()

  res = get_data_by_municipio(data, municipio )


  meses = ['Jan', 'Feb', 'Mar', 'Abr', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dec']
  # Make traces for graph
  trace1 = go.Bar(x=meses, y=res['leitos_sus'], xaxis='x2', yaxis='y2',
                  marker=dict(color='#0099ff'),
                  name='Leitos SUS')
  trace2 = go.Bar(x=meses, y=res['leitos_nosus'], xaxis='x2', yaxis='y2',
                  marker=dict(color='#404040'),
                  name='Leitos No SUS')

  # Add trace data to figure
  fig.add_traces([trace1, trace2])

  # initialize xaxis2 and yaxis2
  fig['layout']['xaxis2'] = {}
  fig['layout']['yaxis2'] = {}

  # Edit layout for subplots
  #fig.layout.yaxis.update({'domain': [0,  np.max(sus_list)]})
  #fig.layout.yaxis2.update({'domain': [0,  np.max(nosus_list)]})
  fig.layout.yaxis.update({'domain': [0, .45]})
  fig.layout.yaxis2.update({'domain': [.6, 1]})


  # The graph's yaxis2 MUST BE anchored to the graph's xaxis2 and vice versa
  fig.layout.yaxis2.update({'anchor': 'x2'})
  fig.layout.xaxis2.update({'anchor': 'y2'})
  fig.layout.yaxis2.update({'title': 'Quantidade'})

  # Update the margins to add a title and see graph x-labels.
  #fig.layout.margin.update({'t':75, 'l':50})
  fig.layout.update({'title': 'Municipio:' + str(municipio) + " <br>Ano:" + str(year)})

  # Update the height because adding a graph vertically will interact with
  # the plot height calculated for the table
  fig.layout.update({'width':900})

  # Plot!
  fig.show()

In [ ]:
# Calcula o numero de leitos e no leitos para um determinado municipio por ano e vizualiza.
muni = 520680
plot_ds(data19,muni, 2019)
plot_ds(data20,muni, 2020)
plot_ds(data21,muni, 2021)

In [ ]:
import plotly.graph_objects as go

def plot_simple(data):
  municipio_list = list(map(itemgetter('municipio'), data ))
  municipio_list = [str(m) for m in municipio_list]
  sus_list = list(map(itemgetter('leitos_sus'), data ))
  nosus_list = list(map(itemgetter('leitos_nosus'), data ))

  fig = go.Figure()
  fig.add_trace(go.Histogram(
        histfunc="count", 
        #histnorm='percent',
        y=sus_list, 
        x=municipio_list,  
        xbins=dict( # bins used for histogram
          start=0,
          end=len(municipio_list)),
          autobinx=True,
          name="Sus")
        )
  
  fig.add_trace(go.Histogram(
        histfunc="sum",
        #histnorm='percent',
        y=nosus_list, 
        x=municipio_list,  
        xbins=dict( # bins used for histogram
          start=0,
          end=len(municipio_list)),
        name="No Sus")
        )

  fig.show()

In [ ]:
plot_simple(data19)